/** MOBILE PAGE **/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,html {
  /* background-color: #e1d9d5; */
  overflow: auto;

}

br {

}

p {
  font-size: 18px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  color: #0a307c;
}

h3 {
  color: white;
}

hr {
  color: black;
  margin: 130px auto;
  border: 2px solid #f4f7ff;
}

.light-blue {
  color: #00a8ee;
}

.contact1 {
  margin-top: 10px;
  background: transparent;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.container {
  display: block;
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 999;
  /* justify-content: space-between; */
  align-items: center;
  /* max-width: 1600px; */
  /* margin-top: 44px;
  margin-bottom: 52px; */
  padding: 6px 45px; 
  /* overflow: hidden; */
}

.menu-black-background.active {
  background: red;
}

.container_scrolldown.active {
    background: rgb(0 0 0 / 30%);
}

.container > .header > .logo > img {
  width: min(10vh, 100px);
  display: flex;
  align-items: flex-end;
}

/* NAVIGATION MENU */
nav {
  margin-top: 10px;
  font-weight: 400;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 250ms height ease-in-out;
}

li {
  display: block;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-toggle {
  /* display: none; */
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;

}

.open {
  height: 66vh;
}

.fa, .fab, .fad, .fal, .far, .fas {
  line-height: 0;
  font-size: 22px;
  color: white;
}

/* SECTION MAIN */

.main {
  height: 1200px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 45px 10px;
}

.main-container {
  position: relative;
  
}

.main-container .main-block {
  position: absolute;
  width: 450px;
  height: 450px;
  background: rgba(0, 0, 0, 0.12);
  border: 1px solid #ffffff;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 24px;
  top: 281px;
  right: 0;
  padding: 57px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .main-block h1 {
  font-size: 30px;
}

.main-container .main-block > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container .main-block label {
  font-size: 15px;
  font-weight: 400;
}

button.contact2 {
  margin-top: 50px;
  width: auto;
  height: 58px;
  font-size: 15px;
  padding: 22px 37px;
  background: #00a8ee;
  color: white;
  border: none;
  border-radius: 15px;
  transition: 100 ms all cubic-bezier(0.4, 0, 1, 1);
}
/* END SECTION MAIN */

/* SECTION SOLUTION */ 

.solutions {
  margin: 0 auto;
  padding: 120px 0 105px 0;
}

.solutions > .solutions_text {
  padding: 0 47px;
  text-align: center;
}

.solutions h2 {
  margin-bottom: 20px;
}

.solutions p {
  font-size: 18px;
}

.solutions .item_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.solutions .item_products .first_products {
  padding: 0px;
  width: 25%;
  gap: 50px;
  
}
.solutions .item_products .second_products {
  padding: 0px;
  width: 25%;
  gap: 50px;
  
}

.solutions .item_products .first_products p {
  text-align: center;
  padding: 10px 0 10px 0;
}
.solutions .item_products .second_products p {
  text-align: center;
  padding: 10px 0 10px 0;
}

.solutions > .items > .first,
.solutions > .items > .second {
  align-items: center;
}

.solutions > .item_products > div > div:nth-child(2) {
  width: 75px;
  height: 2.5px;
  background: #011e58;
  gap: 50px;
  margin: 30px auto;
}
.solutions > .item_products > div > div:nth-child(4) {
  width: 75px;
  height: 2.5px;
  background: #011e58;
  gap: 50px;
  margin: 30px auto;
}
.solutions > .item_products > div > div:nth-child(6) {
  width: 75px;
  height: 2.5px;
  background: #011e58;
  gap: 50px;
  margin: 30px auto;
}
.solutions > .item_products > div > div:nth-child(8) {
  width: 75px;
  height: 2.5px;
  background: #011e58;
  gap: 50px;
  margin: 30px auto;
}

/* INDENTITY VERIFICATION */

.video-play {
  margin-bottom: 150px;
}

.video-play > div {
  padding: 20px;
  position: relative;
  height: auto;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  display: flex;
}

video {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.video-play > div .text_video {
  padding: 40px 0;
  width: auto;
}

.video-play > div .text_video h2 {
  margin-bottom: 20px;
}

.video-play > div .text_video p {
  margin-bottom: 20px;
}

.video-play > div .text_video i {
  color: #00a8ee;
}

.video-play > div .text_video label  {
  position: relative;
}

.video-play > div .text_video > .list  {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.video-play > div .text_video > .list > div {
  display: flex;
  align-items: baseline;
  gap: 22px;
}

button.contact2 {
  background: #00a8ee;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  width: auto;
  height: 65px;

}

/* SCREENING */

.video-screen > div {
  padding: 20px;
  position: relative;
  height: auto;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  display: flex;
}

.video-screen > div .text_video {
  padding: 40px 0;
  width: auto;
}

.video-screen > div .video > img {
  border-radius: 20px;
}
.video-screen > div .text_video h2 {
  margin-bottom: 20px;
}

.video-screen > div .text_video p {
  margin-bottom: 20px;
}

.video-screen > div .list i {
  color: #00a8ee;
}

.video-screen > div .text_video label  {
  position: relative;
}

.video-screen > div .text_video > .list  {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.video-screen > div .text_video > .list > div {
  display: flex;
  align-items: baseline;
  gap: 22px;
}

/* UNIVERSAL LOGIN */

.universal_login {
  margin-top: 150px;
}

.universal_login > div {
  padding: 20px;
  position: relative;
  height: auto;
  flex-direction: column;
  justify-content: space-between; 
  display: flex;
}

.universal_login > div .text_video {
  padding: 40px 0;
  width: auto;
}

.universal_login > div .text_video h2 {
  margin-top: 20px;
}

.universal_login > div .text_video > p {
  margin-top: 20px;
}

.universal_login > div .text_video i {
  color:#00a8ee;
}

.universal_login > div .text_video label  {
  margin-top: 20px;
  position: relative;
}

.universal_login > div.text_video > .list  {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.universal_login > div .text_video > .list > div {
  display: flex;
  align-items: baseline;
  gap: 22px;
}

/* TRACKING AND ACCESS CONTROL */

.tracking_access_control {
  margin-top: 150px;
}

.tracking_access_control > div {
  padding: 20px;
  position: relative;
  height: auto;
  flex-direction: column;
  justify-content: space-between; 
  display: flex;
}

.tracking_access_control > div .text_video {
  padding:  40px 0;
  width: auto;
}

.tracking_access_control > div .text_video h2 {
  margin-bottom: 20px;
}

.tracking_access_control > div .text_video p {
  margin-bottom: 20px;
}

.tracking_access_control  > div .text_video i {
  color: #00a8ee;
}

.tracking_access_control > div .text_video label {
  position: relative;
  margin: 0 10px;
}

.tracking_access_control > div .text_video > .list {
  display: flex;
  flex-direction: column;
  gap: 22px;

}

.tracking_access_control > div .text_video > .list > div {
  display: flex;
  align-items: baseline;
  gap: 22px;
}
/* END SECTION SOLUTION */ 

/* SECTION INDUSTRIES */

.instries_key {
  background: #00a8ee;
  padding: 100px 20px ;
}

.instries_key > .text {
  text-align: center;
  margin-bottom: 90px;
  color: white;
}

.instries_key > h2 {
  margin: 10px;
}

.instries_key > .text h2 {
  margin-bottom: 25px;
  color: white;
}

.instries_key > .industries-items  {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.instries_key > .industries-items > div {
  display: flex;
  height: 90%;
  padding: 10px;
  flex: 1 2 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 35px 0;
}

.instries_key > .industries-items  .icon {
  width: 20%;
} 

.instries_key .industries-items .text { 
      text-align: center;
      color: white;
}

.instries_key .industries-items .text h3 {
  color: white;
  font-size: 24px;
}

.instries_key .indeustry_item .text label {
      font-size: 15px;
}
/* END SECTION INDUSTRY */

/* SECTION MANAGEMENT */

.management_dashboard {
  margin: 110px auto;
  max-width: 1400px;
}

.video-management {
  margin-bottom: 50px;
}

.video-management > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  gap:  10px;
  padding: 20px;
}

.video-management  > div.text-management i {
  color: #00a8ee;
}

.video-management > div.text-management > .list-management {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-management > div.text-management > .list-management > div {
  display: flex;

  align-items:baseline;
  gap: 20px;
}
/* END SECTION MANAGEMENT */

/* BARCODE INTEGRATION */

.barcode-integration {
  margin: 110px auto;
  max-width: 1400px;
}

.barcode-integration > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  gap: 20px;
}

.barcode-integration > div .text-bardcode h2 {
  margin-bottom: 10px;
}

.barcode-integration > div .text-bardcode > p {
  margin-bottom: 30px;
}

.barcode-integration > div .text-bardcode  i {
  color: #00a8ee;
}

.barcode-integration > div .text-bardcode > .list-barcode {
  display: flex;
  flex-direction: column;
  gap: 20px;
} 

.barcode-integration> div .text-bardcode  > .list-barcode > div {
  display: flex;
  align-items:baseline;
  gap: 20px;
}

button.contact3 {
  margin-top: 50px;
  align-items: flex-end;
  width: auto;
  height: 58px;
  font-size: 15px;
  padding: 15px 45px;
  background: #00a8ee;
  color: white;
  border: none;
  border-radius: 15px;
  transition: 100 ms all cubic-bezier(0.4, 0, 1, 1);
}
/* END BARCODE INTEGRATION */

/* SECTION ABOUT HOURGLASS */

.about-hourglass {
  padding: 40px;
  background: #00a8ee;
}

.about-hourglass > .hourglass-time {
  display: flex;
  flex-direction: column;
  height: auto;
  color: white;
  margin-bottom: 131px;
}

.about-hourglass > .hourglass-time > .hourglass-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-hourglass > .hourglass-time > .hourglass-text > h1 {
  font-size: 42px;
  font-weight: 700;
}

.about-hourglass > .hourglass-time p {
  font-size: 18px;
  font-weight: 400;
}

.about-hourglass > div.hourglass-time > div.hr-underlined{
  margin: 20px 0;
  border: 1px solid white;
  background: white;
  height: 100%;
}

.about-hourglass > div.hourglass-time > .hourglass-time {
  position: relative;
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
 
.about-hourglass > div.hourglass-time > .hourglass-time > .hourglases-svg-image {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: auto;
  right: 10%;
  width: 240px;
}

.about-hourglass > .hourglass-key {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 22px;
  justify-items: center;
}

.about-hourglass > .hourglass-key > .hourglass-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 50%;
  gap: 20px;
}

/* CONTACT */

.contact-me {
  padding: 50px;
  margin-bottom: 200px;
}

.contact-me h2 {
  text-align: center;
  margin-bottom: 90px;
}

.contact-me > form > .contact-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 50px;
}

.contact-me > form > .contact-input > .contact-left h2  {
  margin-bottom: 10px;
  text-align: left;
}

.contact-me > form > .contact-input > .contact-left > .message-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 5px;
}

.contact-me > form > .contact-input > .contact-left > .message-form label {
  font-size: 14px;
  font-weight: 500;
}

.contact-me > form > .contact-input > .contact-left > .message-form textarea {
  padding:  16px 20px;
  border: 2px solid #e1e7f3;
  border-radius: 10px;
  margin-bottom: 40px;
}

.contact-me > form > .contact-input > .contact-left > .email-subs {
  font-size: 16px;
  font-weight: 300;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
    
}

.checkbox .checkmark-subs {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
}

.checkbox:hover input ~ .checkmark-subs {
  background-color: white;
}

.checkbox input:checked ~ .checkmark-subs {
  background-color: #2196f3;
  border-color: lightblue;
}

.checkbox .checkmark-subs:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark-subs:after {
  display: block;
}

.checkbox input:checked ~ .checkmark-subs:after {
  background-color: #2196F3;
  display: block;
}

.checkbox .checkmark-subs::after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0px 1px 1px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact-me > form > .contact-input > .contact-right > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-me > form > .contact-input > .contact-right {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-row-gap: 20px;
  grid-column-gap: 310px;
}

.contact-me > form > .contact-input > .contact-right label {
  font-size: 14px;
  font-weight: 500;
  color: #808ca6;
  
}

.contact-me > form > .contact-input > .contact-right input,
.contact-me > form > .contact-input > .contact-left textarea,
.contact-me > form > .contact-input > .contact-right select {
  padding: 17px 30px;
  border-radius: 8px;
  border: 1.5px solid #e1e7f3;
}

.contact-me > form > .contact-input > .contact-right {
  grid-column-end: 100px;
}

.contact-me > form > .contact-input > .contact-right > .dropdown-list select {
  width: 100%;
  -webkit-appearance: none;
}

.contact-me > form > .contact-input > .contact-right > .dropdown-list > div > .down-arrow {
  width: 14px;
  height: 52px;
  position: absolute;
  right: 60px;
  color: red;
}

.contact-me > form > .contact-input {
  margin-bottom: 60px;
}

.contact-me > form > .result > .submit {
  margin-bottom: 20px;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact-me > form > .result button {
  width: 210px;

  
}

button.sub-button {
  width: auto;
  height: 55px;
  font-size: 15px;
  background: #00a8ee;
  border-radius: 12px;
  color: white;
  border: none;
}

.contact-me > form > label {
  padding: 10px;
}

.contact-me > form > .result > label {
  margin-bottom: 100px;
}

/* SECTION FOOTER */

.footer-container {
  position: relative;
  width: 100%;
  background: #f4f7ff;
}

@media only screen and (min-width: 767px) {
.footer-container > .software-developer {
    width: 100%;
}}

.footer-container > .software-developer {
  position: absolute;
  top: -154px;
  left: 0px;
  right: 0;
  background: #00a8ee;
  height: 290px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 40px;
  color: white;
}

.footer-container > .software-developer > .text-developer {
  text-align: center;
}

.footer-container > .software-developer > .text-developer h2 {
  color: white;
  margin-bottom: 31px;
}

.footer-container > .software-developer > .text-developer p {
  font-size: 18px;
  font-weight: 300;
}

.footer-container > .software-developer > .development {
  margin-top: 15px;
}

.development-screen {
  margin: 0 auto;
  max-width: 510px;
}

.footer-container > .software-developer > .development {
  display: flex;
  gap: 50px;
}

.max-screen-development {
  max-width: 510px;
  margin: 0 auto;
}

.footer-container > .software-developer > .development form {
  display: flex;
  width: 100%;
  gap: 40px;
}

.footer-container > .software-developer > .development input {
  width: 100%;
  background: #f4f7ff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 10px 30px;
}

.footer-container > .software-developer > .development button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  background: transparent;
  color: white;
}

.footer-container > .footer-menu {
  height: auto;
  padding-top: 240px;
}

.footer-container > .footer-menu > div {
  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
  padding: 0 50px 50px;
}

.footer-container > .footer-menu > div > .footer-address {
  height: 100%;
}

.footer-container > .footer-menu > div > .footer-address > .footer-logo {
  width: 120px;
  margin-bottom: 25px;
}

.footer-container > .footer-menu > div > .footer-address > .footer-items {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.footer-container > .footer-menu > div > .footer-address > .footer-items label {
  font-size: 16px;
  color: #808ca6;
}

.footer-container > .footer-menu > div > .footer-address > .footer-items a {
  text-decoration: none;
}

.footer-container > .footer-menu > div > .footer-links {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 20px;
}

.footer-container > .footer-menu > div > .footer-links p {
  font-size: 18px;
  font-weight: 600;
  color: #0a307c;
}

.footer-container > .footer-menu > div > .footer-links a {
  text-decoration: none;
  color: #808ca6;
}

/* SOCIAL INFO */

.footer-container > .social-info-about {
  height: auto;
  background: #e1e6f4;
}

.footer-container > .social-info-about > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

.footer-container > .social-info-about > div > .social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-container > .social-info-about > div > .social-icons img {
  width: 30px;
  height: 30px;
}

.footer-container > .social-info-about > div > .social-text {
  font-size: 5px;
}

.footer-container > .social-info-about > div > .social-text > p{
  font-size: 18px;
  color: #808ca6;
}

/* SECTION RECAPTCHA */

.recaptcha {
  padding: 10px 50px;
  text-align: center;
}

.recaptcha label {
  font-weight: 300;
  font-size: 12px;
}

.Copryrigth {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}










/* @media all and (min-width: 1200px) {
  .container {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  } */

  /* nav {
    font-weight: 400;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  li {
    display: block;
    padding: 1.1rem 0;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 35px;
    color: white;
  }

  .fa, .fab, .fad, .fal, .far, .fas {
    line-height: 3;
  } */ 
/* }  */